.login_container{
  width: 100%;
  position: fixed;
  bottom: 0;
  top: 0;
}

.login_form_container{
  flex: 1;
  margin-top: 200px;
  max-height: 330px;
  max-width: 600px;
  padding: 10px 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  box-shadow: -1px 1px 5px rgb(194, 192, 192);
}

@media(max-width: 900px){
  .login_form_container{
    margin-top: -190px;
  }
}
