.horiz_ruler hr{
  margin: 5px 0;
}
.empty_cart_container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

.product_in_cart_details1{
  width: 75%; /* make it responsive */
  padding: 10px;
  background-color: white;
}
.product_in_cart_details2{
  width: 25%; /* make it responsive */
  padding-left: 40px;
  padding: 10px;
  background-color: white;
}

.empty_cart{
  background-color: white;
}

.cart_container{
  border-top: 1px solid rgb(192, 192, 192);
  border-bottom: 1px solid rgb(192, 192, 192);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  background-color: white;
  margin-bottom: 25px;
}
.cart_container p a{
  text-decoration: none;
  color: #751fff;
}
.product_in_cart{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.product_in_checkout{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.product_in_cart .img_container,
.product_in_checkout .img_container{
  min-width: 25%;
}

.product_in_cart .img_container img,
.product_in_checkout .img_container img{
  width: 100%;
  max-width: 300px;
  height: 100%;
  box-sizing: border-box;
  object-fit: cover;
  border: 1px solid rgb(192, 192, 192);
}

.info_dropdown .order_s{
  margin-top: 15px;
}

.middle_container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.prod_qty_container span{
  margin: 0 5px;
}

.product_in_cart .name_container p,
.product_in_checkout .name_container p{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 290px;
  min-width: 25%;
  padding: 5px;
}
.product_in_cart .prod_qty_container,
.product_in_checkout .prod_qty_container{
  min-width: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.product_in_cart .prod_qty_container input,
.product_in_checkout .prod_qty_container input{
  padding: 5px;
  width: 50%;
  border: 1px solid rgb(192, 192, 192);
}

.product_in_cart .prod_qty_container button,
.product_in_checkout .prod_qty_container button{
  padding: 5px;
  border: 1px solid rgb(192, 192, 192);
  background-color: white;
}

.close_btn_container button{
  background-color: white;
  border: none;
  padding: 0;
  margin: 0;
}
.name_close_container .close_btn_container button{
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
.product_in_cart .close_btn_container img{
  padding: 5px;
  width: 30px;
  height: 30px;
  min-width: 8%;
  cursor: pointer;
}

.name_close_container .close_btn_container img{
  padding: 5px;
  width: 30px;
  height: 30px;
  min-width: 8%;
  cursor: pointer;
}

.initial_amout,
.delivery,
.final_price{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.secure_checkout{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.secure_checkout img{
  width: 15px;
  height: 15px;
}
.secure_checkout p{
  font-size: 12px;
}

.checkout{
  border: none;
  background-color: #751fff;
  color: white;
  width: 100%;
  margin: 0;
  height: 35px;
  border-radius: 20px;
  cursor: pointer;
}

@media (min-width: 990px) and (max-width: 1350px) {
  .product_in_cart .prod_qty_container input{
    padding: 5px;
    width: 100%;
    border: 1px solid rgb(192, 192, 192);
  }
}

/*================== phone (responsive) =================== */
@media (min-width: 720px) and (max-width: 989px) {
  .product_details{
    flex-direction: column;
    transition: all 0.4s ease;
  }
  .product_in_cart_details1,
  .product_in_cart_details2{
    width: 100%;
    padding: 0 0;
    transition: all 0.4s ease;
  }
  .product_in_cart .prod_qty_container input{
    width: 100%;
  }
}

@media (min-width: 531px) and (max-width: 719px) {
  .product_details{
    flex-direction: column;
    transition: all 0.4s ease;
  }
  .product_in_cart_details1,
  .product_in_cart_details2{
    width: 100%;
    padding: 0 0;
    transition: all 0.4s ease;
  }
  .product_in_cart .name_container p{
    width: 240px;
  }
  .product_in_cart .close_btn_container img{
    margin-bottom: 35px;
  }
  .middle_container{
    flex-direction: column;
    margin-left: 5px;
  }
}

@media (min-width: 450px) and (max-width: 530px) {
  .product_details{
    flex-direction: column;
    transition: all 0.4s ease;
  }
  .product_in_cart_details1,
  .product_in_cart_details2{
    width: 100%;
    padding: 0 0;
    transition: all 0.4s ease;
  }
  .product_in_cart .name_container p{
    width: 160px;
  }
  .product_in_cart .close_btn_container img{
    margin-bottom: 35px;
  }
  .middle_container{
    flex-direction: column;
    margin-left: 5px;
  }
}

@media screen and (max-width: 449px){
  .product_details{
    flex-direction: column;
    transition: all 0.4s ease;
  }
  .product_in_cart_details1,
  .product_in_cart_details2{
    width: 100%;
    padding: 0 0;
    transition: all 0.4s ease;
  }
  .product_in_cart .name_container p{
    width: 110px;
  }
  .product_in_cart .close_btn_container img{
    margin-bottom: 35px;
  }
  .middle_container{
    flex-direction: column;
    margin-left: 5px;
  }
}

