.sign_up{
  margin-left: 200px;
  padding: 5px;
}
.close_register{
  display: flex;
  justify-content: right;
  margin-top: 10px;
}
.close_register img{
  height: 70px;
  width: 70px;
}
.register{
  margin-top: 20px;
}

.register_container{
  display: flex;
  justify-content: center;
}
/* ------------------ */
.sign_in{
  margin-left: 135px;
  padding: 5px;
}

.passwordreset{
  margin-left: 65px;
  padding: 5px;
}

.resettitle{
  margin-left: 145px;
  padding: 5px;
} 

/*================== phone (responsive) =================== */
@media(min-width: 300px) and (max-width: 500px){
  .sign_in{
    margin-left: 0;
    padding: 0;
    font-size: 25px;
  }
  .sign_up{
    margin-left: 40px;
    padding: 0;
  }
  
  .passwordreset{
    margin-left: 0;
    padding: 0;
    font-size: 25px;
  }
  
  .resettitle{
      margin-left: 0;
      padding: 0;
      font-size: 25px;
  }
}