.shop_all_page{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.shop_all_page h1{
  text-align: center;
  font-size: 50px;
}
.shop_all_container h3{
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  cursor: pointer;
}

/*========================= left section =========================*/
.shop_all_container{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.shop_category{
  width: 15%;
  height: 100%;
  padding-left: 25px;
  font-weight: bold;
}
.shop_category a{
  text-decoration: none;
}

.checkbox-container {
  margin: 7px 0;
  display: flex;
  align-items: center;
}

.styled-checkbox {
  width: 18px;
  height: 18px;
  display: none;
  position: relative;
}

.styled-checkbox:checked {
  background-color: white;
}
label {
  font-size: 16px;
}

/*--------------------*/
.browse_by{
  width: 10%;
  height: 100%;
  padding-left: 25px;
}
.browse_by a{
  text-decoration: none;
  margin: 2px 0;
}
.active-category {
  color: #751fff;
  font-weight: bold;
}
/*--------------------*/
/*========================= right section =========================*/
.shop_products {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.product-containerr {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 0;
}

.product-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.product-containerr .productt {
  flex: 0 0 20%;
  box-sizing: border-box;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 25px;
}

.productt a {
  text-decoration: none;
}

.image_container2 img {
  width: 100%;
  height: auto;
}

.product-name1 {
  font-size: 16px;
  margin: 10px 0;
  font-weight: bold;
}

.add-to-cart {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}

.add-to-cart:hover {
  background-color: rgb(62, 62, 62);
}

.pagination {
  text-align: center;
  margin: 0;
  margin-top: 40px;
}

.pagination a {
  background-color: #751fff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 20px;
  font-size: 16px;
}

.pagination .disabled_button {
  background-color: #e9e9ea;
  cursor: not-allowed;
  color: black;
  border: none;
  padding: 10px 20px;
  margin: 0 20px;
  font-size: 16px;
}

.pagination span {
  font-size: 18px;
}

.arrow{
  width: 10px;
  height: 10px;
  rotate: -30deg;
}

.arrowUp{
  rotate: 30deg;
}

.arrowDown{
  rotate: -30deg;
}

/*================== laptop (responsive) =================== */
@media (min-width: 954px) and (max-width: 1518px){
  .shop_category,
  .browse_by{
    width: 20%;
    transition: all 0.4s ease;
  }
  .shop_products {
    width: 80%;
    transition: all 0.4s ease;
  }
  .product-containerr .productt {
    flex: 0 0 25%;
    padding: 0 8px;
    transition: all 0.4s ease;
  }
}
/*================== tablet (responsive) =================== */
@media (min-width: 789px) and (max-width: 955px){
  .shop_category,
  .browse_by{
    width: 28%;
    transition: all 0.4s ease;
  }
  .shop_products {
    width: 72%;
    transition: all 0.4s ease;
  }
  .product-containerr .productt {
    flex: 0 0 33.3%;
    padding: 0 8px;
    transition: all 0.4s ease;
  }
}
/*================== phone (responsive) =================== */
@media screen and (max-width: 788px) {
  .shop_all_container{
    flex-direction: column;
  }
  .shop_category,
  .browse_by{
    width: 100%;
    transition: all 0.4s ease;
  }
  .shop_products {
    width: 100%;
    transition: all 0.4s ease;
  }
  .product-containerr .productt {
    flex: 0 0 50%;
    padding: 0 5px;
    transition: all 0.4s ease;
  }
}